@model string
@{
    ViewBag.Title = "ARI";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/diamondbacks-media"  data-widget-id="344639229659320320">Tweets from @@MLBTeamTweet/diamondbacks-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/diamondbacks-players"  data-widget-id="344639353261281282">Tweets from @@MLBTeamTweet/diamondbacks-players</a>
    </div>
</div>