@model string
@{
    ViewBag.Title = "ATL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/braves-media"  data-widget-id="344639504319148032">Tweets from @@MLBTeamTweet/braves-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/braves-players"  data-widget-id="344639629326168064">Tweets from @@MLBTeamTweet/braves-players</a>
    </div>
</div>