@model string
@{
    ViewBag.Title = "BAL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/orioles-media"  data-widget-id="344639964639805441">Tweets from @@MLBTeamTweet/orioles-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/orioles-players"  data-widget-id="344640072274046976">Tweets from @@MLBTeamTweet/orioles-players</a>
    </div>
</div>