@model string
@{
    ViewBag.Title = "BOS";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/red-sox-media"  data-widget-id="344640197260083200">Tweets from @@MLBTeamTweet/red-sox-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/red-sox-players"  data-widget-id="344640313245179904">Tweets from @@MLBTeamTweet/red-sox-players</a>
    </div>
</div>