@model string
@{
    ViewBag.Title = "CHC";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/cubs-media"  data-widget-id="344640449635557377">Tweets from @@MLBTeamTweet/cubs-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/cubs-players"  data-widget-id="344640646981767168">Tweets from @@MLBTeamTweet/cubs-players</a>
    </div>
</div>