@model string
@{
    ViewBag.Title = "CHW";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/white-sox-media"  data-widget-id="344640784294891520">Tweets from @@MLBTeamTweet/white-sox-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/white-sox-players"  data-widget-id="344640912825135105">Tweets from @@MLBTeamTweet/white-sox-players</a>
    </div>
</div>