@model string
@{
    ViewBag.Title = "CIN";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/reds-media"  data-widget-id="344641038318718976">Tweets from @@MLBTeamTweet/reds-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/reds-players"  data-widget-id="344641177481515008">Tweets from @@MLBTeamTweet/reds-players</a>
    </div>
</div>