@model string
@{
    ViewBag.Title = "CLE";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/indians-media"  data-widget-id="344641463000395776">Tweets from @@MLBTeamTweet/indians-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/indians-players"  data-widget-id="344641580570931200">Tweets from @@MLBTeamTweet/indians-players</a>
    </div>
</div>