@model string
@{
    ViewBag.Title = "COL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/rockies-media"  data-widget-id="344641720627101698">Tweets from @@MLBTeamTweet/rockies-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/rockies-players"  data-widget-id="344641947153088512">Tweets from @@MLBTeamTweet/rockies-players</a>
    </div>
</div>