@model string
@{
    ViewBag.Title = "DET";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/tigers-media"  data-widget-id="344642091416178689">Tweets from @@MLBTeamTweet/tigers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/tigers-players"  data-widget-id="344642214569332738">Tweets from @@MLBTeamTweet/tigers-players</a>
    </div>
</div>