@model string
@{
    ViewBag.Title = "HOU";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/astros-media"  data-widget-id="344642330898350080">Tweets from @@MLBTeamTweet/astros-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/astros-players"  data-widget-id="344642458455519233">Tweets from @@MLBTeamTweet/astros-players</a>
    </div>
</div>