@model string
@{
    ViewBag.Title = "KCR";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/royals-media"  data-widget-id="344642593105260546">Tweets from @@MLBTeamTweet/royals-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/royals-players"  data-widget-id="344642708054343680">Tweets from @@MLBTeamTweet/royals-players</a>
    </div>
</div>
