@model string
@{
    ViewBag.Title = "LAA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/angels-media"  data-widget-id="344642889990696960">Tweets from @@MLBTeamTweet/angels-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/angels-players"  data-widget-id="344642994605019136">Tweets from @@MLBTeamTweet/angels-players</a>
    </div>
</div>