@model string
@{
    ViewBag.Title = "LAD";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/dodgers-media"  data-widget-id="344643154445754368">Tweets from @@MLBTeamTweet/dodgers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/dodgers-players"  data-widget-id="344643303125426176">Tweets from @@MLBTeamTweet/dodgers-players</a>
    </div>
</div>