@model string
@{
    ViewBag.Title = "MIA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/marlins-media"  data-widget-id="344643431206887424">Tweets from @@MLBTeamTweet/marlins-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/marlins-players"  data-widget-id="344643559368060928">Tweets from @@MLBTeamTweet/marlins-players</a>
    </div>
</div>