@model string
@{
    ViewBag.Title = "MIL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/brewers-media"  data-widget-id="344650822510055425">Tweets from @@MLBTeamTweet/brewers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/brewers-players"  data-widget-id="344650948632784898">Tweets from @@MLBTeamTweet/brewers-players</a>
    </div>
</div>