@model string
@{
    ViewBag.Title = "MIN";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/twins-media"  data-widget-id="344643682269556736">Tweets from @@MLBTeamTweet/twins-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/twins-players"  data-widget-id="344643795062779904">Tweets from @@MLBTeamTweet/twins-players</a>
    </div>
</div>