@model string
@{
    ViewBag.Title = "NYM";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/mets-media"  data-widget-id="344643912780095489">Tweets from @@MLBTeamTweet/mets-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/mets-players"  data-widget-id="344644038609227776">Tweets from @@MLBTeamTweet/mets-players</a>
    </div>
</div>