@model string
@{
    ViewBag.Title = "NYY";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/yankees-media"  data-widget-id="344644178782875648">Tweets from @@MLBTeamTweet/yankees-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/yankees-players"  data-widget-id="344644293484490753">Tweets from @@MLBTeamTweet/yankees-players</a>
    </div>
</div>