@model string
@{
    ViewBag.Title = "OAK";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/athletics-media"  data-widget-id="344644424833302529">Tweets from @@MLBTeamTweet/athletics-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/athletics-players"  data-widget-id="344644556953890818">Tweets from @@MLBTeamTweet/athletics-players</a>
    </div>
</div>