@model string
@{
    ViewBag.Title = "PHI";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/phillies-media"  data-widget-id="344644704056508416">Tweets from @@MLBTeamTweet/phillies-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/phillies-players"  data-widget-id="344644838223929345">Tweets from @@MLBTeamTweet/phillies-players</a>
    </div>
</div>