@model string
@{
    ViewBag.Title = "PIT";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/pirates-media"  data-widget-id="344644977135087616">Tweets from @@MLBTeamTweet/pirates-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/pirates-players"  data-widget-id="344645109570236417">Tweets from @@MLBTeamTweet/pirates-players</a>
    </div>
</div>