@model string
@{
    ViewBag.Title = "SDP";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/padres-media"  data-widget-id="344646557603352576">Tweets from @@MLBTeamTweet/padres-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/padres-players"  data-widget-id="344646719075659776">Tweets from @@MLBTeamTweet/padres-players</a>
    </div>
</div>