@model string
@{
    ViewBag.Title = "SEA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/mariners-media"  data-widget-id="344646865133924352">Tweets from @@MLBTeamTweet/mariners-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/mariners-players"  data-widget-id="344647027067588609">Tweets from @@MLBTeamTweet/mariners-players</a>
    </div>
</div>