@model string
@{
    ViewBag.Title = "SFG";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/sf-giants-media"  data-widget-id="344647145648975872">Tweets from @@MLBTeamTweet/sf-giants-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/sf-giants-players"  data-widget-id="344647294781640704">Tweets from @@MLBTeamTweet/sf-giants-players</a>
    </div>
</div>