@model string
@{
    ViewBag.Title = "STL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/stl-cardinals-media"  data-widget-id="344647670784225280">Tweets from @@MLBTeamTweet/stl-cardinals-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/stl-cardinals-players"  data-widget-id="344647806423814144">Tweets from @@MLBTeamTweet/stl-cardinals-players</a>
    </div>
</div>