@model string
@{
    ViewBag.Title = "TBR";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/rays-media"  data-widget-id="344647940876414976">Tweets from @@MLBTeamTweet/rays-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/rays-players"  data-widget-id="344648080764837888">Tweets from @@MLBTeamTweet/rays-players</a>
    </div>
</div>