@model string
@{
    ViewBag.Title = "TEX";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/tx-rangers-media"  data-widget-id="344648257621856257">Tweets from @@MLBTeamTweet/tx-rangers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/tx-rangers-players"  data-widget-id="344648371484622849">Tweets from @@MLBTeamTweet/tx-rangers-players</a>
    </div>
</div>