@model string
@{
    ViewBag.Title = "TOR";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/blue-jays-media"  data-widget-id="344648517819711488">Tweets from @@MLBTeamTweet/blue-jays-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/blue-jays-players"  data-widget-id="344648621385474048">Tweets from @@MLBTeamTweet/blue-jays-players</a>
    </div>
</div>