@model string
@{
    ViewBag.Title = "WSH";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/nationals-media"  data-widget-id="344648766000861184">Tweets from @@MLBTeamTweet/nationals-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/MLBTeamTweet/nationals-players"  data-widget-id="344648917075517441">Tweets from @@MLBTeamTweet/nationals-players</a>
    </div>
</div>