@model string
@{
    ViewBag.Title = "ATL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/hawks-media"  data-widget-id="343922458715381760">Tweets from @@NBATeamTweet/hawks-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/hawks-players"  data-widget-id="343922560548888576">Tweets from @@NBATeamTweet/hawks-players</a>
    </div>
</div>
