@model string
@{
    ViewBag.Title = "BKN";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/nets-media"  data-widget-id="343922836987056128">Tweets from @@NBATeamTweet/nets-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/nets-players"  data-widget-id="343922946299006979">Tweets from @@NBATeamTweet/nets-players</a>
    </div>
</div>