@model string
@{
    ViewBag.Title = "BOS";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/celtics-media"  data-widget-id="343923189325373442">Tweets from @@NBATeamTweet/celtics-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/celtics-players"  data-widget-id="343923298138198016">Tweets from @@NBATeamTweet/celtics-players</a>
    </div>
</div>