@model string
@{
    ViewBag.Title = "CHA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/bobcats-media"  data-widget-id="343923420016308225">Tweets from @@NBATeamTweet/bobcats-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/bobcats-players"  data-widget-id="343923545061089280">Tweets from @@NBATeamTweet/bobcats-players</a>
    </div>
</div>