@model string
@{
    ViewBag.Title = "CHI";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/bulls-media"  data-widget-id="343923729518190592">Tweets from @@NBATeamTweet/bulls-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/bulls-players"  data-widget-id="343923822354903040">Tweets from @@NBATeamTweet/bulls-players</a>
    </div>
</div>