@model string
@{
    ViewBag.Title = "CLE";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/cavaliers-media"  data-widget-id="343924062462038016">Tweets from @@NBATeamTweet/cavaliers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/cavaliers-players"  data-widget-id="343924186089156608">Tweets from @@NBATeamTweet/cavaliers-players</a>
    </div>
</div>