@model string
@{
    ViewBag.Title = "DAL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/mavericks-media"  data-widget-id="343924324324999170">Tweets from @@NBATeamTweet/mavericks-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/mavericks-players"  data-widget-id="343924421649641472">Tweets from @@NBATeamTweet/mavericks-players</a>
    </div>
</div>