@model string
@{
    ViewBag.Title = "DEN";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/nuggets-media"  data-widget-id="343924781063749632">Tweets from @@NBATeamTweet/nuggets-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/nuggets-players"  data-widget-id="343924888496656384">Tweets from @@NBATeamTweet/nuggets-players</a>
    </div>
</div>