@model string
@{
    ViewBag.Title = "DET";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/pistons-media"  data-widget-id="343935462618054658">Tweets from @@NBATeamTweet/pistons-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/pistons-players"  data-widget-id="343935600715517954">Tweets from @@NBATeamTweet/pistons-players</a>
    </div>
</div>