@model string
@{
    ViewBag.Title = "GSW";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/warriors-media"  data-widget-id="343925043794935808">Tweets from @@NBATeamTweet/warriors-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/warriors-players"  data-widget-id="343925154843328513">Tweets from @@NBATeamTweet/warriors-players</a>
    </div>
</div>