@model string
@{
    ViewBag.Title = "HOU";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/rockets-media"  data-widget-id="343925468703109120">Tweets from @@NBATeamTweet/rockets-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/rockets-players"  data-widget-id="343925611884056578">Tweets from @@NBATeamTweet/rockets-players</a>
    </div>
</div>