@model string
@{
    ViewBag.Title = "IND";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/pacers-media"  data-widget-id="343925830914809856">Tweets from @@NBATeamTweet/pacers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/pacers-players"  data-widget-id="343925965413556224">Tweets from @@NBATeamTweet/pacers-players</a>
    </div>
</div>