@model string
@{
    ViewBag.Title = "LAC";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/clippers-media"  data-widget-id="343926215289221121">Tweets from @@NBATeamTweet/clippers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/clippers-players"  data-widget-id="343926402799771649">Tweets from @@NBATeamTweet/clippers-players</a>
    </div>
</div>