@model string
@{
    ViewBag.Title = "LAL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/lakers-media"  data-widget-id="343926530080137216">Tweets from @@NBATeamTweet/lakers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/lakers-players"  data-widget-id="343926771109986304">Tweets from @@NBATeamTweet/lakers-players</a>
    </div>
</div>