@model string
@{
    ViewBag.Title = "MEM";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/grizzlies-media"  data-widget-id="343926998332227584">Tweets from @@NBATeamTweet/grizzlies-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/grizzlies-players"  data-widget-id="343927097535897600">Tweets from @@NBATeamTweet/grizzlies-players</a>
    </div>
</div>