@model string
@{
    ViewBag.Title = "MIA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/heat-media"  data-widget-id="343927241450868736">Tweets from @@NBATeamTweet/heat-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/heat-players"  data-widget-id="343927376570351616">Tweets from @@NBATeamTweet/heat-players</a>
    </div>
</div>