@model string
@{
    ViewBag.Title = "MIL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/bucks-media"  data-widget-id="343927518044233729">Tweets from @@NBATeamTweet/bucks-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/bucks-players"  data-widget-id="343927636944355328">Tweets from @@NBATeamTweet/bucks-players</a>
    </div>
</div>