@model string
@{
    ViewBag.Title = "MIN";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/timberwolves-media"  data-widget-id="343927780544749568">Tweets from @@NBATeamTweet/timberwolves-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/timberwolves-players"  data-widget-id="343927890376806400">Tweets from @@NBATeamTweet/timberwolves-players</a>
    </div>
</div>