@model string
@{
    ViewBag.Title = "NOP";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/pelicans-media"  data-widget-id="343928063647682561">Tweets from @@NBATeamTweet/pelicans-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/pelicans-players"  data-widget-id="343928208539914240">Tweets from @@NBATeamTweet/pelicans-players</a>
    </div>
</div>