@model string
@{
    ViewBag.Title = "NYK";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/knicks-media"  data-widget-id="343928413968535554">Tweets from @@NBATeamTweet/knicks-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/knicks-players"  data-widget-id="343928688787718144">Tweets from @@NBATeamTweet/knicks-players</a>
    </div>
</div>