@model string
@{
    ViewBag.Title = "OKC";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/thunder-media"  data-widget-id="343929139352453121">Tweets from @@NBATeamTweet/thunder-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/thunder-players"  data-widget-id="343929277533806592">Tweets from @@NBATeamTweet/thunder-players</a>
    </div>
</div>