@model string
@{
    ViewBag.Title = "ORL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/magic-media"  data-widget-id="343929478633893888">Tweets from @@NBATeamTweet/magic-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/magic-players"  data-widget-id="343929616664244224">Tweets from @@NBATeamTweet/magic-players</a>
    </div>
</div>