@model string
@{
    ViewBag.Title = "PHI";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/phi-76ers-media"  data-widget-id="343930053484244992">Tweets from @@NBATeamTweet/phi-76ers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/phi-76ers-players"  data-widget-id="343930155233865728">Tweets from @@NBATeamTweet/phi-76ers-players</a>
    </div>
</div>