@model string
@{
    ViewBag.Title = "PHX";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/suns-media"  data-widget-id="343929762462437377">Tweets from @@NBATeamTweet/suns-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/suns-players"  data-widget-id="343929863989772288">Tweets from @@NBATeamTweet/suns-players</a>
    </div>
</div>