@model string
@{
    ViewBag.Title = "POR";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/trail-blazers-media"  data-widget-id="343930647645147136">Tweets from @@NBATeamTweet/trail-blazers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/trail-blazers-players"  data-widget-id="343930771410649088">Tweets from @@NBATeamTweet/trail-blazers-players</a>
    </div>
</div>