@model string
@{
    ViewBag.Title = "SAC";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/sac-kings-media"  data-widget-id="343930922262986752">Tweets from @@NBATeamTweet/sac-kings-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/sac-kings-players"  data-widget-id="343931015217176578">Tweets from @@NBATeamTweet/sac-kings-players</a>
    </div>
</div>