@model string
@{
    ViewBag.Title = "SAS";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/spurs-media"  data-widget-id="343931189540818944">Tweets from @@NBATeamTweet/spurs-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/spurs-players"  data-widget-id="343931328875606016">Tweets from @@NBATeamTweet/spurs-players</a>
    </div>
</div>