@model string
@{
    ViewBag.Title = "TOR";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/raptors-media"  data-widget-id="343931515496980480">Tweets from @@NBATeamTweet/raptors-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/raptors-players"  data-widget-id="343931646954840064">Tweets from @@NBATeamTweet/raptors-players</a>
    </div>
</div>