@model string
@{
    ViewBag.Title = "UTA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/jazz-media"  data-widget-id="343931788076396545">Tweets from @@NBATeamTweet/jazz-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/jazz-players"  data-widget-id="343932002476650496">Tweets from @@NBATeamTweet/jazz-players</a>
    </div>
</div>