@model string
@{
    ViewBag.Title = "WSH";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/wizards-media"  data-widget-id="343932134655934464">Tweets from @@NBATeamTweet/wizards-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NBATeamTweet/wizards-players"  data-widget-id="343932250737496064">Tweets from @@NBATeamTweet/wizards-players</a>
    </div>
</div>