@{
    ViewBag.Title = "FooterMenu";
}
<div class="navbar navbar-bottom">
    <div class="navbar-inner">
        <ul class="nav pull-left">
            <li>
                <a class="nav-option" href="/">
                    Home
                </a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li>
                <a class="nav-option" href="/NHL">
                    <img src="~/Content/Images/NHL/nhlglyph.png" alt"NHL" />
                    NHL
                </a>
            </li>
            <li>
                <a class="nav-option"  href="/NFL">
                    <img src="~/Content/Images/NFL/nflglyph.png" alt"NFL" />
                    NFL
                </a>
            </li>
            <li>
                <a class="nav-option" href="/NBA">
                    <img src="~/Content/Images/NBA/nbaglyph.png" alt"NBA" />
                    NBA
                </a>
            </li>
            <li>
                <a class="nav-option" href="/MLB">
                    <img src="~/Content/Images/MLB/mlbglyph.png" alt"MLB" />
                    MLB
                </a>
            </li>
        </ul>
    </div>
</div>