@{
    ViewBag.Title = "HomeMenu";
}
<div class="navbar">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a href="/">
            <div class="brand">SportsTeamTweets</div>
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="dropdown">
                    <a href="/NHL" class="dropdown-toggle nav-option" data-toggle="dropdown">
                        NHL
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        @{ Html.RenderAction("HomeSubMenu", "Nav", new { league = "NHL" }); }
                    </ul>
                </li>
                <li>
                    <a href="/NHL">
                        NFL
                    </a>
                </li>
                <li>
                    <a href="/NHL">
                        NBA
                    </a>
                </li>
                <li>
                    <a href="/NHL">
                        MLB
                    </a>
                </li>
                <li>
                    <a href="/NHL">
                        College Football
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
