@model string
@{
    ViewBag.Title = "BOS";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/bruins-media"  data-widget-id="343147300312457216">Tweets from @@SportsTeamTweet/bruins-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/bruins-players"  data-widget-id="343147215684001792">Tweets from @@SportsTeamTweet/bruins-players</a>
    </div>
</div>