@model string
@{
    ViewBag.Title = "BUF";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/sabres-media"  data-widget-id="343147042379554816">Tweets from @@SportsTeamTweet/sabres-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/sabres-players"  data-widget-id="343146962155081729">Tweets from @@SportsTeamTweet/sabres-players</a>
    </div>
</div>