@model string
@{
    ViewBag.Title = "CAR";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/hurricanes-media"  data-widget-id="343147826152341505">Tweets from @@SportsTeamTweet/hurricanes-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/hurricanes-players"  data-widget-id="343147722917953536">Tweets from @@SportsTeamTweet/hurricanes-players</a>
    </div>
</div>