@model string
@{
    ViewBag.Title = "CBJ";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/blue-jackets-media"  data-widget-id="343137115602829312">Tweets from @@SportsTeamTweet/blue-jackets-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/blue-jackets-players"  data-widget-id="343137369106546688">Tweets from @@SportsTeamTweet/blue-jackets-players</a>
    </div>
</div>
