@model string
@{
    ViewBag.Title = "CGY";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/flames-media"  data-widget-id="343139861693345792">Tweets from @@SportsTeamTweet/flames-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/flames-players"  data-widget-id="343139736711471104">Tweets from @@SportsTeamTweet/flames-players</a>
    </div>
</div>