@model string
@{
    ViewBag.Title = "CHI";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/blackhawks-media"  data-widget-id="343133793126871040">Tweets from @@SportsTeamTweet/blackhawks-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/blackhawks-players"  data-widget-id="343133656153485313">Tweets from @@SportsTeamTweet/blackhawks-players</a>
    </div>
</div>