@model string
@{
    ViewBag.Title = "COL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/avalanche-media"  data-widget-id="343140167328083968">Tweets from @@SportsTeamTweet/avalanche-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/avalanche-players"  data-widget-id="343140032313425920">Tweets from @@SportsTeamTweet/avalanche-players</a>
    </div>
</div>