@model string
@{
    ViewBag.Title = "DAL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/stars-media"  data-widget-id="343142045780697088">Tweets from @@SportsTeamTweet/stars-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/stars-players"  data-widget-id="343141935378206720">Tweets from @@SportsTeamTweet/stars-players</a>
    </div>
</div>