@model string
@{
    ViewBag.Title = "DET";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/red-wings-media"  data-widget-id="343138032083406849">Tweets from @@SportsTeamTweet/red-wings-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/red-wings-players"  data-widget-id="343137751471898624">Tweets from @@SportsTeamTweet/red-wings-players</a>
    </div>
</div>