@model string
@{
    ViewBag.Title = "FLA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/fla-panthers-media"  data-widget-id="343148134093959168">Tweets from @@SportsTeamTweet/fla-panthers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/fla-panthers-players"  data-widget-id="343148055928913920">Tweets from @@SportsTeamTweet/fla-panthers-players</a>
    </div>
</div>