@model string
@{
    ViewBag.Title = "LAK";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/la-kings-media"  data-widget-id="343142349062410240">Tweets from @@SportsTeamTweet/la-kings-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/la-kings-players"  data-widget-id="343142248185221121">Tweets from @@SportsTeamTweet/la-kings-players</a>
    </div>
</div>