@model string
@{
    ViewBag.Title = "MTL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/canadiens-media"  data-widget-id="343146515939880961">Tweets from @@SportsTeamTweet/canadiens-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/canadiens-players"  data-widget-id="343146424738914304">Tweets from @@SportsTeamTweet/canadiens-players</a>
    </div>
</div>