@model string
@{
    ViewBag.Title = "NJD";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/devils-media"  data-widget-id="343145623039639552">Tweets from @@SportsTeamTweet/devils-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/devils-players"  data-widget-id="343145477396643840">Tweets from @@SportsTeamTweet/devils-players</a>
    </div>
</div>