@model string
@{
    ViewBag.Title = "NSH";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/predators-media"  data-widget-id="343138460300873729">Tweets from @@SportsTeamTweet/predators-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/predators-players"  data-widget-id="343138272601587712">Tweets from @@SportsTeamTweet/predators-players</a>
    </div>
</div>