@model string
@{
    ViewBag.Title = "NYI";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/islanders-media"  data-widget-id="343145237188853760">Tweets from @@SportsTeamTweet/islanders-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/islanders-players"  data-widget-id="343145161846554625">Tweets from @@SportsTeamTweet/islanders-players</a>
    </div>
</div>