@model string
@{
    ViewBag.Title = "NYR";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/ny-rangers-media"  data-widget-id="343145041813983232">Tweets from @@SportsTeamTweet/ny-rangers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/ny-rangers-players"  data-widget-id="343144885077037056">Tweets from @@SportsTeamTweet/ny-rangers-players</a>
    </div>
</div>