@model string
@{
    ViewBag.Title = "OTT";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/senators-media"  data-widget-id="343146808844894208">Tweets from @@SportsTeamTweet/senators-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/senators-players"  data-widget-id="343146723574685697">Tweets from @@SportsTeamTweet/senators-players</a>
    </div>
</div>