@model string
@{
    ViewBag.Title = "PHX";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/coyotes-media"  data-widget-id="343142689727987712">Tweets from @@SportsTeamTweet/coyotes-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/coyotes-players"  data-widget-id="343142546802896896">Tweets from @@SportsTeamTweet/coyotes-players</a>
    </div>
</div>