@model string
@{
    ViewBag.Title = "PIT";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/penguins-media"  data-widget-id="343144388995739649">Tweets from @@SportsTeamTweet/penguins-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/penguins-players"  data-widget-id="343144268262674432">Tweets from @@SportsTeamTweet/penguins-players</a>
    </div>
</div>