@model string
@{
    ViewBag.Title = "SJS";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/sharks-media"  data-widget-id="343142972168237056">Tweets from @@SportsTeamTweet/sharks-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/sharks-players"  data-widget-id="343142859534385152">Tweets from @@SportsTeamTweet/sharks-players</a>
    </div>
</div>