@model string
@{
    ViewBag.Title = "STL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/blues-media"  data-widget-id="343138882696658944">Tweets from @@SportsTeamTweet/blues-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/blues-players"  data-widget-id="343138749766594560">Tweets from @@SportsTeamTweet/blues-players</a>
    </div>
</div>