@model string
@{
    ViewBag.Title = "TBL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/lightning-media"  data-widget-id="343148407675838464">Tweets from @@SportsTeamTweet/lightning-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/lightning-players"  data-widget-id="343148306714746880">Tweets from @@SportsTeamTweet/lightning-players</a>
    </div>
</div>