@model string
@{
    ViewBag.Title = "VAN";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/canucks-media"  data-widget-id="343141152079372288">Tweets from @@SportsTeamTweet/canucks-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/canucks-players"  data-widget-id="343141075231338496">Tweets from @@SportsTeamTweet/canucks-players</a>
    </div>
</div>