@model string
@{
    ViewBag.Title = "WPG";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/wpg-jets-media"  data-widget-id="343148957981106176">Tweets from @@SportsTeamTweet/wpg-jets-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/wpg-jets-players"  data-widget-id="343148850418167808">Tweets from @@SportsTeamTweet/wpg-jets-players</a>
    </div>
</div>