@model string
@{
    ViewBag.Title = "WSH";
}
<a class="twitter-timeline"  href="https://twitter.com/NHLSTT2/washington-capitals"  data-widget-id="@Model">Tweets from @@NHLSTT2/washington-capitals</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>