@model string
@{
    ViewBag.Title = "WSH";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/capitals-media"  data-widget-id="343148684428591104">Tweets from @@SportsTeamTweet/capitals-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/capitals-players"  data-widget-id="343148583337488384">Tweets from @@SportsTeamTweet/capitals-players</a>
    </div>
</div>