@{
    ViewBag.Title = "Index";
}
<div style="height: 150px;"></div>
<h2>Tweets across the leagues</h2>
<div class="row-fluid">
    <div class="span3 well">
        <img src="~/Content/Images/NHL/small/nhlglyph.png" alt="NHL" class="pull-left brand-icon" />
        <h2>NHL</h2>
    </div>
    <div class="span3 well">
        <img src="~/Content/Images/NHL/small/nhlglyph.png" alt="NHL" class="pull-left brand-icon" />
        <h2>NFL</h2>
    </div>
    <div class="span3 well">
        <img src="~/Content/Images/NHL/small/nhlglyph.png" alt="NHL" class="pull-left brand-icon" />
        <h2>NBA</h2>
    </div>
    <div class="span3 well">
        <img src="~/Content/Images/NHL/small/nhlglyph.png" alt="NHL" class="pull-left brand-icon" />
        <h2>MLB</h2>
    </div>
</div>