@model string
@{
    ViewBag.Title = "ARI";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/az-cardinals-media"  data-widget-id="343597472343535616">Tweets from @@NFLTeamTweet/az-cardinals-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/az-cardinals-players"  data-widget-id="343597380567986176">Tweets from @@NFLTeamTweet/az-cardinals-players</a>
    </div>
</div>