@model string
@{
    ViewBag.Title = "ARI";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/az-cardinals-media"  data-widget-id="343467492410273792">Tweets from @@SportsTeamTweet/az-cardinals-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/az-cardinals-players"  data-widget-id="343467616431640576">Tweets from @@SportsTeamTweet/az-cardinals-players</a>
    </div>
</div>
