@model string
@{
    ViewBag.Title = "ATL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/falcons-media"  data-widget-id="343597747775082496">Tweets from @@NFLTeamTweet/falcons-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/falcons-players"  data-widget-id="343597632712736768">Tweets from @@NFLTeamTweet/falcons-players</a>
    </div>
</div>