@model string
@{
    ViewBag.Title = "ATL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/falcons-media"  data-widget-id="343472841246781440">Tweets from @@SportsTeamTweet/falcons-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/falcons-players"  data-widget-id="343472957580009475">Tweets from @@SportsTeamTweet/falcons-players</a>
    </div>
</div>