@model string
@{
    ViewBag.Title = "BAL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/ravens-media"  data-widget-id="343473157455360000">Tweets from @@SportsTeamTweet/ravens-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/ravens-players"  data-widget-id="343473266104606721">Tweets from @@SportsTeamTweet/ravens-players</a>
    </div>
</div>