@model string
@{
    ViewBag.Title = "BAL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/ravens-media"  data-widget-id="343598023177281536">Tweets from @@NFLTeamTweet/ravens-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/ravens-players"  data-widget-id="343597916780380160">Tweets from @@NFLTeamTweet/ravens-players</a>
    </div>
</div>