@model string
@{
    ViewBag.Title = "BUF";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/bills-media"  data-widget-id="343598305118408705">Tweets from @@NFLTeamTweet/bills-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/bills-players"  data-widget-id="343598208959778817">Tweets from @@NFLTeamTweet/bills-players</a>
    </div>
</div>