@model string
@{
    ViewBag.Title = "BUF";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/bills-media"  data-widget-id="343473419481923584">Tweets from @@SportsTeamTweet/bills-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/bills-players"  data-widget-id="343473550096744448">Tweets from @@SportsTeamTweet/bills-players</a>
    </div>
</div>