@model string
@{
    ViewBag.Title = "CAR";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/car-panthers-media"  data-widget-id="343598570106130432">Tweets from @@NFLTeamTweet/car-panthers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/car-panthers-players"  data-widget-id="343598459456212992">Tweets from @@NFLTeamTweet/car-panthers-players</a>
    </div>
</div>