@model string
@{
    ViewBag.Title = "CHI";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/bears-media"  data-widget-id="343598794484637696">Tweets from @@NFLTeamTweet/bears-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/bears-players"  data-widget-id="343598704583909377">Tweets from @@NFLTeamTweet/bears-players</a>
    </div>
</div>