@model string
@{
    ViewBag.Title = "CHI";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/bears-media"  data-widget-id="343474077308166144">Tweets from @@SportsTeamTweet/bears-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/bears-players"  data-widget-id="343474198951391232">Tweets from @@SportsTeamTweet/bears-players</a>
    </div>
</div>