@model string
@{
    ViewBag.Title = "CIN";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/bengals-media"  data-widget-id="343599056825761793">Tweets from @@NFLTeamTweet/bengals-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/bengals-players"  data-widget-id="343598949539667968">Tweets from @@NFLTeamTweet/bengals-players</a>
    </div>
</div>