@model string
@{
    ViewBag.Title = "CLE";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/browns-media"  data-widget-id="343474985446285313">Tweets from @@SportsTeamTweet/browns-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/browns-players"  data-widget-id="343475135858225153">Tweets from @@SportsTeamTweet/browns-players</a>
    </div>
</div>