@model string
@{
    ViewBag.Title = "CLE";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/browns-media"  data-widget-id="343599304717508608">Tweets from @@NFLTeamTweet/browns-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/browns-players"  data-widget-id="343599174173986816">Tweets from @@NFLTeamTweet/browns-players</a>
    </div>
</div>