@model string
@{
    ViewBag.Title = "DAL";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/cowboys-media"  data-widget-id="343599568111431680">Tweets from @@NFLTeamTweet/cowboys-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/cowboys-players"  data-widget-id="343599438041858048">Tweets from @@NFLTeamTweet/cowboys-players</a>
    </div>
</div>