@model string
@{
    ViewBag.Title = "DEN";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/broncos-media"  data-widget-id="343475523961356288">Tweets from @@SportsTeamTweet/broncos-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/broncos-players"  data-widget-id="343475707827064832">Tweets from @@SportsTeamTweet/broncos-players</a>
    </div>
</div>