@model string
@{
    ViewBag.Title = "DEN";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/broncos-media"  data-widget-id="343599844973223936">Tweets from @@NFLTeamTweet/broncos-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/broncos-players"  data-widget-id="343599734449127425">Tweets from @@NFLTeamTweet/broncos-players</a>
    </div>
</div>