@model string
@{
    ViewBag.Title = "DET";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/lions-media"  data-widget-id="343475896998584320">Tweets from @@SportsTeamTweet/lions-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/lions-players"  data-widget-id="343476004951580672">Tweets from @@SportsTeamTweet/lions-players</a>
    </div>
</div>