@model string
@{
    ViewBag.Title = "DET";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/lions-media"  data-widget-id="343600116113997826">Tweets from @@NFLTeamTweet/lions-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/lions-players"  data-widget-id="343600004834934785">Tweets from @@NFLTeamTweet/lions-players</a>
    </div>
</div>