@model string
@{
    ViewBag.Title = "GBP";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/packers-media"  data-widget-id="343600381676371968">Tweets from @@NFLTeamTweet/packers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/packers-players"  data-widget-id="343600289665925121">Tweets from @@NFLTeamTweet/packers-players</a>
    </div>
</div>