@model string
@{
    ViewBag.Title = "HOU";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/texans-media"  data-widget-id="343600626405609474">Tweets from @@NFLTeamTweet/texans-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/texans-players"  data-widget-id="343600539981987840">Tweets from @@NFLTeamTweet/texans-players</a>
    </div>
</div>