@model string
@{
    ViewBag.Title = "HOU";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/texans-media"  data-widget-id="343476625914089473">Tweets from @@SportsTeamTweet/texans-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/texans-players"  data-widget-id="343476749755113472">Tweets from @@SportsTeamTweet/texans-players</a>
    </div>
</div>