@model string
@{
    ViewBag.Title = "IND";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/colts-media"  data-widget-id="343476992479465472">Tweets from @@SportsTeamTweet/colts-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/colts-players"  data-widget-id="343477132908965888">Tweets from @@SportsTeamTweet/colts-players</a>
    </div>
</div>