@model string
@{
    ViewBag.Title = "IND";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/colts-media"  data-widget-id="343600992513830912">Tweets from @@NFLTeamTweet/colts-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/colts-players"  data-widget-id="343600870631538688">Tweets from @@NFLTeamTweet/colts-players</a>
    </div>
</div>