@model string
@{
    ViewBag.Title = "JAC";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/jaguars-media"  data-widget-id="343602928025735168">Tweets from @@NFLTeamTweet/jaguars-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/jaguars-players"  data-widget-id="343602754318647297">Tweets from @@NFLTeamTweet/jaguars-players</a>
    </div>
</div>