@model string
@{
    ViewBag.Title = "KCC";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/chiefs-media"  data-widget-id="343603255592513536">Tweets from @@NFLTeamTweet/chiefs-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/chiefs-players"  data-widget-id="343603118635888641">Tweets from @@NFLTeamTweet/chiefs-players</a>
    </div>
</div>