@model string
@{
    ViewBag.Title = "KCC";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/chiefs-media"  data-widget-id="343477577924612097">Tweets from @@SportsTeamTweet/chiefs-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/chiefs-players"  data-widget-id="343477739426299907">Tweets from @@SportsTeamTweet/chiefs-players</a>
    </div>
</div>