@model string
@{
    ViewBag.Title = "MIA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/dolphins-media"  data-widget-id="343603761870143489">Tweets from @@NFLTeamTweet/dolphins-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/dolphins-players"  data-widget-id="343603639266455552">Tweets from @@NFLTeamTweet/dolphins-players</a>
    </div>
</div>