@model string
@{
    ViewBag.Title = "MIA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/dolphins-media"  data-widget-id="343477874113789952">Tweets from @@SportsTeamTweet/dolphins-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/dolphins-players"  data-widget-id="343478032264200192">Tweets from @@SportsTeamTweet/dolphins-players</a>
    </div>
</div>