@model string
@{
    ViewBag.Title = "MIN";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/vikings-media"  data-widget-id="343478202896900096">Tweets from @@SportsTeamTweet/vikings-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/SportsTeamTweet/vikings-players"  data-widget-id="343478366206312448">Tweets from @@SportsTeamTweet/vikings-players</a>
    </div>
</div>