@model string
@{
    ViewBag.Title = "MIN";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/vikings-media"  data-widget-id="343604018217644032">Tweets from @@NFLTeamTweet/vikings-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/vikings-players"  data-widget-id="343603924814663680">Tweets from @@NFLTeamTweet/vikings-players</a>
    </div>
</div>