@model string
@{
    ViewBag.Title = "ANA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/patriots-media"  data-widget-id="343607269759533056">Tweets from @@NFLTeamTweet/patriots-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/patriots-players"  data-widget-id="343607143028629504">Tweets from @@NFLTeamTweet/patriots-players</a>
    </div>
</div>