@model string
@{
    ViewBag.Title = "ANA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/saints-media"  data-widget-id="343607530066440192">Tweets from @@NFLTeamTweet/saints-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/saints-players"  data-widget-id="343607435564568576">Tweets from @@NFLTeamTweet/saints-players</a>
    </div>
</div>