@model string
@{
    ViewBag.Title = "ANA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/ny-giants-media"  data-widget-id="343607678997774336">Tweets from @@NFLTeamTweet/ny-giants-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/ny-giants-players"  data-widget-id="343607843632607232">Tweets from @@NFLTeamTweet/ny-giants-players</a>
    </div>
</div>