@model string
@{
    ViewBag.Title = "ANA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/chargers-media"  data-widget-id="343610671340060672">Tweets from @@NFLTeamTweet/chargers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/chargers-players"  data-widget-id="343610576687222784">Tweets from @@NFLTeamTweet/chargers-players</a>
    </div>
</div>