@model string
@{
    ViewBag.Title = "ANA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/seahawks-media"  data-widget-id="343610954317172736">Tweets from @@NFLTeamTweet/seahawks-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/seahawks-players"  data-widget-id="343610831105314816">Tweets from @@NFLTeamTweet/seahawks-players</a>
    </div>
</div>