@model string
@{
    ViewBag.Title = "ANA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/sf-49ers-media"  data-widget-id="343615071898976256">Tweets from @@NFLTeamTweet/sf-49ers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/sf-49ers-players"  data-widget-id="343611095455526912">Tweets from @@NFLTeamTweet/sf-49ers-players</a>
    </div>
</div>