@model string
@{
    ViewBag.Title = "ANA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/buccaneers-media"  data-widget-id="343615680018522112">Tweets from @@NFLTeamTweet/buccaneers-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/buccaneers-players"  data-widget-id="343615546325098496">Tweets from @@NFLTeamTweet/buccaneers-players</a>
    </div>
</div>