@model string
@{
    ViewBag.Title = "ANA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/titans-media"  data-widget-id="343615915755204608">Tweets from @@NFLTeamTweet/titans-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/titans-players"  data-widget-id="343615809035304960">Tweets from @@NFLTeamTweet/titans-players</a>
    </div>
</div>