@model string
@{
    ViewBag.Title = "ANA";
}
<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/redskins-media"  data-widget-id="343616152758530048">Tweets from @@NFLTeamTweet/redskins-media</a>
    </div>
    <div class="span6">
        <a class="twitter-timeline"  href="https://twitter.com/NFLTeamTweet/redskins-players"  data-widget-id="343616057405239296">Tweets from @@NFLTeamTweet/redskins-players</a>
    </div>
</div>