body 
{
    font-family: 'Roboto', Helvetica, Arial;
}

@media (max-width: 979px) 
{
    .dropdown-submenu .dropdown-menu
    {
        display: none;
    }

    .nav-collapse .nav > li > a.focus,
    .nav-collapse .nav > li > a.hover
    {
        background-color: rgba(82,82,82,.6);
    }
}

.brand-icon
{
    padding: 12.5px 0px;
    margin-left: -10px;
    margin-right: 10px;
}

.custom-background
{
    background: url("../Images/carbon_fibre_big.png");
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed;
}

.navbar-inner .btn-navbar,
.navbar-inner .btn-navbar:hover,
.navbar-inner .btn-navbar:focus,
.navbar-inner .btn-navbar:active,
.navbar-inner .btn-navbar.active,
.navbar-inner .btn-navbar.disabled,
.navbar-inner .btn-navbar[disabled]
{
    background: rgb(82, 82, 82);
}

.nav-option 
{
    font-size: 16px;
    font-weight: 600;
}

iframe[id^='twitter-widget-']
{
    width: 100%;
}

.navbar .nav > li > .dropdown-menu:after
{
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.navbar .nav > li > .dropdown-menu:before
{
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.dropdown-menu
{
    background-color: #fff;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
{
    background-color: #fff;
    color: rgb(82,82,82);
}

.dropdown-menu .divider.divider-no-upper
{
    margin: 0;
}

.logo-nhl
{
    background-image: url("../Images/NHL/logo-nhl.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 24px;
    float: left;
}

.logo-nhl-ana
{
    background-position: 0 0;
}

.logo-nhl-wpg
{
    background-position: 0 -20px;
}

.logo-nhl-bos
{
    background-position: 0 -40px;
}

.logo-nhl-buf
{
    background-position: 0 -60px;
}

.logo-nhl-cgy
{
    background-position: 0 -80px;
}

.logo-nhl-car
{
    background-position: 0 -100px;
}

.logo-nhl-chi
{
    background-position: 0 -120px;
}

.logo-nhl-col
{
    background-position: 0 -140px;
}

.logo-nhl-cbj
{
    background-position: 0 -160px;
}

.logo-nhl-dal
{
    background-position: 0 -180px;
}

.logo-nhl-det
{
    background-position: 0 -200px;
}

.logo-nhl-edm
{
    background-position: 0 -220px;
}

.logo-nhl-fla
{
    background-position: 0 -240px;
}

.logo-nhl-lak
{
    background-position: 0 -260px;
}

.logo-nhl-min
{
    background-position: 0 -280px;
}

.logo-nhl-mtl
{
    background-position: 0 -300px;
}

.logo-nhl-nsh
{
    background-position: 0 -320px;
}

.logo-nhl-njd
{
    background-position: 0 -340px;
}

.logo-nhl-nyi
{
    background-position: 0 -360px;
}

.logo-nhl-nyr
{
    background-position: 0 -380px;
}

.logo-nhl-ott
{
    background-position: 0 -400px;
}

.logo-nhl-phi
{
    background-position: 0 -420px;
}

.logo-nhl-phx
{
    background-position: 0 -440px;
}

.logo-nhl-pit
{
    background-position: 0 -460px;
}

.logo-nhl-sjs
{
    background-position: 0 -480px;
}

.logo-nhl-stl
{
    background-position: 0 -500px;
}

.logo-nhl-tbl
{
    background-position: 0 -520px;
}

.logo-nhl-tor
{
    background-position: 0 -540px;
}

.logo-nhl-van
{
    background-position: 0 -560px;
}

.logo-nhl-wsh 
{
    background-position: 0 -580px;
}