body 
{
    font-family: 'Roboto', Helvetica, Arial;
}

@media (max-width: 979px) 
{
    .dropdown-submenu .dropdown-menu
    {
        display: none;
    }

    .nav-collapse .nav > li > a.focus,
    .nav-collapse .nav > li > a.hover
    {
        background-color: rgba(82,82,82,.6);
    }
}

.brand-icon
{
    padding: 12.5px 0px;
    margin-left: -10px;
    margin-right: 10px;
}

.custom-background
{
    background: url("../Images/carbon_fibre_big.png");
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed;
}

.navbar-inner .btn-navbar,
.navbar-inner .btn-navbar:hover,
.navbar-inner .btn-navbar:focus,
.navbar-inner .btn-navbar:active,
.navbar-inner .btn-navbar.active,
.navbar-inner .btn-navbar.disabled,
.navbar-inner .btn-navbar[disabled]
{
    background: rgb(82, 82, 82);
}

.nav-option 
{
    font-size: 16px;
    font-weight: 600;
}

iframe[id^='twitter-widget-']
{
    width: 100%;
}