html, body
{
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

body 
{
    font-family: 'Roboto', Helvetica, Arial;
    font-size: 10px;
    min-height: 100%;
}

@media (max-width: 979px) 
{
    .dropdown-submenu .dropdown-menu
    {
        display: none;
    }

    .nav-collapse .nav > li > a.focus,
    .nav-collapse .nav > li > a.hover
    {
        background-color: rgba(82,82,82,.6);
    }
}

.btn-xlarge
{
    font-size: 2.2em;
    line-height: normal;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.well.preview-well
{
    padding: ;0
}

.brand-icon
{
    padding: 12.5px 0px;
    margin-left: -10px;
    margin-right: 10px;
}

[class^="icon-"].preview-tab-icon,
[class*="icon-"].preview-tab-icon
{
    margin-top: .8em; margin-right: .3em;
}

.custom-background
{
    background: url("../Images/carbon_fibre_big.png");
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed;
}

.navbar-inner
{
    border: none;
}

.navbar-inner .btn-navbar,
.navbar-inner .btn-navbar:hover,
.navbar-inner .btn-navbar:focus,
.navbar-inner .btn-navbar:active,
.navbar-inner .btn-navbar.active,
.navbar-inner .btn-navbar.disabled,
.navbar-inner .btn-navbar[disabled]
{
    background: rgb(82, 82, 82);
}

.navbar .nav .nav-option 
{
    font-size: 1.6em;
    font-weight: 600;
}

iframe[id^='twitter-widget-']
{
    width: 100%;
}

.navbar .nav > li
{
    line-height: 3.1em;
    min-width: 12.8em;
}

.navbar .nav > li#NHLdd
{
    background-color: #006dcc;
}

.navbar .nav > li#NFLdd
{
    background-color: #5bb75b;
}

.navbar .nav > li#NBAdd
{
    background-color: #faa732;
}

.navbar .nav > li#MLBdd
{
    background-color: #da4f49;
}

.navbar .nav > li > a 
{
    padding: 11px 15px;
    text-align: center;
}

.navbar .nav > li > .dropdown-menu
{
    font-size: 1.4em;
}

.navbar .nav > li > .dropdown-menu:after
{
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.navbar .nav > li > .dropdown-menu:before
{
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.navbar .dropdown-menu > li.column-menu ul
{
    display: inline-block;
    list-style: none outside none;
    margin: 0 0 16px;
    width: 100%;
}

.navbar .dropdown-menu > li.column-menu li
{
    display: inline;
    float: left;
    width: 100%;
}

.navbar .dropdown-menu > li.column-menu.firstcolumn
{
    margin-left: 0;
}

.dropdown-menu
{
    background-color: #fff;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
{
    background-color: #fff;
    color: rgb(82,82,82);
}

.dropdown-menu .divider.divider-no-upper
{
    margin: 0;
}

.fill
{
    padding-bottom: 55px;
}

.container .disclaimer
{
    margin: 2em auto .5em;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 1.6em;
    line-height: 1.8em;
    text-align: center;
}